.crypt-text {
  word-wrap: break-word;
}

.trib-article .pull-out {
  width: 60%;
}

/* Responsive rule */
@media all and (max-width: 979px) {
  .trib-article .pull-out {
    width: 63%;
  }
}

@media all and (max-width: 481px) {
  .trib-article .pull-out {
    width: 87%;
  }
}
