.crypt-text {
  word-wrap: break-word;
}

.trib-article .pull-out {
  width: 60%;
}

.navbar .nav>li>a {
  max-width: 72px;
  height: 1em;
  overflow: hidden;
}

#header-text {
  max-width: 25em;
  overflow: hidden;
}

.explainer {
  margin-top: 10px;
}

#implementation {
  margin-top: 20px;
  margin-bottom: -10px;
}

.hide-text {
  display: none;
}

/* Responsive rule */
@media all and (max-width: 979px) {
  .trib-article .pull-out {
    width: 63%;
  }
}

@media all and (max-width: 481px) {
  .trib-article .pull-out {
    width: 87%;
  }
}
