{% extends "_base.html" %}

{% block css %}
{{ super() }}
<link href='http://fonts.googleapis.com/css?family=Radley:400,400italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="css/style.css" />
{% endblock css %}

{% block scripts %}
{{ super() }}
<!--[if gt IE 8]> -->
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.3.9/d3.min.js"></script>
<!-- <![endif]-->
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
<script src="js/app.js"></script>
{% endblock scripts %}

{% block preview %}{% endblock preview %}
