<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{{ title|striptags }}{% endblock title %}</title>
  <link rel="shortcut icon" href="/favicon{% if preview_mode %}-preview{% endif %}.ico" />

  {% block css %}
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.0.2/css/font-awesome.min.css" />
  {% endblock css %}

  {% block opengraph %} 
  <meta property="og:url" content="{{ ROOT_URL }}/{{ PATH }}" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{{ opengraph_image }}" />
  <meta property="og:description" content="{{ opengraph_description }}" />
  {% endblock opengraph %}

  {% block shim %}
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {% endblock %}

  {% block meta %}
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% endblock meta %}
</head>
<body{% block bodyattrs %} class="{{ pagename }}"{% endblock bodyattrs %}>

{% block nav %}
  {% include "_nav.html" %}
{% endblock nav %}

{% block preview %}
{% if PREVIEW_SERVER %}
<div class="alert alert-warning">
  <p>Edit this <a href="https://docs.google.com/spreadsheet/ccc?key={{ SPREADSHEET_KEY }}" target="_blank">project's Google spreadsheet</a>.</p> 

  <p>You can modify this file by editing <code>{{ PROJECT_PATH }}/index.html</code>.</p>

  <p>This block will not publish when <code>tarbell publish</code> is invoked.</p>
</div>
{% endif %}
{% endblock preview %}

{% block container %}
<div class="container">
{% block content %}{% endblock content %}
</div>
{% endblock container %}

{% block footer %}
  {% include "_footer.html" %}
{% endblock footer %}

{% block scripts %}
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js"></script>
{% endblock scripts %}

</body>
</html>
