body {
    background-color: #fffffe;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}

section { 
    margin-bottom: 29px;
}

.not-bold {
    font-weight: 300;
}

.jail-nav {
    background-color: #eaeaea;
    position: fixed;
    width: 205px;
    padding: 0 25px;
    top: 0;
    left: 0;
    height: 100%;
    border-right: 1px solid #ccc;
}
.jail-nav .nav a {
    font-family: 'PT Sans', sans-serif;
}
.jail-nav .nav>li>a:hover,
.jail-nav .nav>li>a.active {
    background-color: #fff;
}
.jail-nav .nav>li>a.active {
    color: #333;
    cursor: default;
}
.jail-nav ul li {
    font-size: 20px;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: -7px;
    margin-right: -7px;
    font-weight: 700;
    font-family: 'PT Sans Narrow', sans-serif;
}
.jail-nav ul li a {
    display: block;
    padding-left: 7px;
    padding-right: 7px;
}
.jail-nav h1 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
    text-align: center;
    margin-bottom: 15px;
}
.jail-nav h1 a {
    color: #333;
}
.jail-nav p {
    font-size: 12px;
    color: #666;
}

.jail-content {
    margin-left: 275px;
    font-size: 18px;
    line-height: 26px;
    padding-right: 40px;
}
.jail-content h1 {
    margin-top: 5px;
    font-size: 42px;
    line-height: 45px;
    border-bottom: 3px solid #333;
    margin-bottom: 23px;
}
.jail-content p {
    max-width: 800px;
    margin-bottom: 26px;
}

/* Button Nano */
.btn-nano [class^="icon-"],
.btn-nano [class*=" icon-"] {
  margin-top: 0px;
}

.btn-nano {
  padding: 0 2px;
  font-size: 11.5px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

/* Table Heading Select */
#inmate-table .sortedby {
	font-weight:bolder;
	font-style: italic;
}
#inmate-table th.sortedby div  {
	display: inline-block;
}

#inmate-table th:hover div  {
	display: inline-block;
}

.chart rect {
  stroke: white;
  fill: steelblue;
}

.chart text.bar {
  fill: white;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

@media (max-width: 979px) {
    /* Nav isn't fixed on smallish devices, so padding needs to go away. */
    body {
        padding-top: 0;
    }
}
