body {
    padding: 0;
}

h1, h2, h3, h4, h5, h6 { 
    font-family: 'Oswald', sans-serif;
}

.not-bold {
    font-weight: 300;
}

.jail-nav {
    background: url(../img/noisy_net.png);
    color: #fff;
    position: fixed;
    width: 240px;
    padding: 0 15px;
    top: 0;
    left: 0;
}

.jail-nav ul {
    margin-right: -15px;
    text-align: right;
}
.jail-nav ul li {
    font-size: 18px;
    line-height: 30px;
}
.jail-nav ul li a {
    display: block;
    padding-right: 15px;
}
.jail-nav h1 {
    font-size: 32px;
    font-weight: 400;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
}

.jail-content {
    margin-left: 290px;
}



/* Button Nano */
.btn-nano [class^="icon-"],
.btn-nano [class*=" icon-"] {
  margin-top: 0px;
}

.btn-nano {
  padding: 0 2px;
  font-size: 11.5px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

/* Table Heading Select */
#inmate-table .sortedby {
	font-weight:bolder;
	font-style: italic;
}
#inmate-table th.sortedby div  {
	display: inline-block;
}

#inmate-table th:hover div  {
	display: inline-block;
}

.chart rect {
  stroke: white;
  fill: steelblue;
}

.chart text.bar {
  fill: white;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

@media (max-width: 979px) {
    /* Nav isn't fixed on smallish devices, so padding needs to go away. */
    body {
        padding-top: 0;
    }
}
