<div id="inmate-table">
    <h1>Inmates</h1>
    <a href="#" id='back'>Back</a> | 
    <a href="#" id='next'>Next</a>    
    <table class="table">
        <thead>
            <tr>
                <th id="jail_id" class="sortedby">Jail ID
                    <div class="btn-group hide" data-toggle="buttons-radio">
                        <a class="btn btn-nano asce active" href="#"><i class="icon-chevron-up"></i></a>
                        <a class="btn btn-nano desc" href="#"><i class="icon-chevron-down"></i></a>
                    </div>
                </th>
                <th id="booking_date">Booking date<div class="btn-group hide" data-toggle="buttons-radio">
                        <a class="btn btn-nano asce" href="#"><i class="icon-chevron-up"></i></a>
                        <a class="btn btn-nano desc" href="#"><i class="icon-chevron-down"></i></a>
                    </div>
                </th>
                <th id="stay_length">Stay (days)<div class="btn-group hide" data-toggle="buttons-radio">
                        <a class="btn btn-nano asce" href="#"><i class="icon-chevron-up"></i></a>
                        <a class="btn btn-nano desc" href="#"><i class="icon-chevron-down"></i></a>
                    </div>
                </th>
                <th id="age_at_booking">Booking age<div class="btn-group hide" data-toggle="buttons-radio">
                        <a class="btn btn-nano asce" href="#"><i class="icon-chevron-up"></i></a>
                        <a class="btn btn-nano desc" href="#"><i class="icon-chevron-down"></i></a>
                    </div>
                </th>
                <th id="bail_amount">Bond amount<div class="btn-group hide" data-toggle="buttons-radio">
                        <a class="btn btn-nano asce" href="#"><i class="icon-chevron-up"></i></a>
                        <a class="btn btn-nano desc" href="#"><i class="icon-chevron-down"></i></a>
                    </div>
                </th>
                <th id="bail_status">Bond status<div class="btn-group hide" data-toggle="buttons-radio">
                        <a class="btn btn-nano asce" href="#"><i class="icon-chevron-up"></i></a>
                        <a class="btn btn-nano desc" href="#"><i class="icon-chevron-down"></i></a>
                    </div>
                </th>
                <th id="charges">Charges<div class="btn-group hide" data-toggle="buttons-radio">
                        <a class="btn btn-nano asce" href="#"><i class="icon-chevron-up"></i></a>
                        <a class="btn btn-nano desc" href="#"><i class="icon-chevron-down"></i></a>
                    </div>
                </th>
                <th id="charges_citation">Charges Citation<div class="btn-group hide" data-toggle="buttons-radio">
                        <a class="btn btn-nano asce" href="#"><i class="icon-chevron-up"></i></a>
                        <a class="btn btn-nano desc" href="#"><i class="icon-chevron-down"></i></a>
                    </div>
                </th>
                <th id="discharge_date_earliest">Discharge date<div class="btn-group hide" data-toggle="buttons-radio">
                        <a class="btn btn-nano asce" href="#"><i class="icon-chevron-up"></i></a>
                        <a class="btn btn-nano desc" href="#"><i class="icon-chevron-down"></i></a>
                    </div>
                </th>
                <th id="gender">Gender<div class="btn-group hide" data-toggle="buttons-radio">
                        <a class="btn btn-nano asce" href="#"><i class="icon-chevron-up"></i></a>
                        <a class="btn btn-nano desc" href="#"><i class="icon-chevron-down"></i></a>
                    </div>
                </th>
                <th id="housing_location">Jail location<div class="btn-group hide" data-toggle="buttons-radio">
                        <a class="btn btn-nano asce" href="#"><i class="icon-chevron-up"></i></a>
                        <a class="btn btn-nano desc" href="#"><i class="icon-chevron-down"></i></a>
                    </div>
                </th>
                <th id="num_court_dates">No. court dates<div class="btn-group hide" data-toggle="buttons-radio">
                        <a class="btn btn-nano asce" href="#"><i class="icon-chevron-up"></i></a>
                        <a class="btn btn-nano desc" href="#"><i class="icon-chevron-down"></i></a>
                    </div>
                </th>
                <th id="next_court_date">Next court date<div class="btn-group hide" data-toggle="buttons-radio">
                        <a class="btn btn-nano asce" href="#"><i class="icon-chevron-up"></i></a>
                        <a class="btn btn-nano desc" href="#"><i class="icon-chevron-down"></i></a>
                    </div>
                </th>
                <th id="next_court_location">Next court location<div class="btn-group hide" data-toggle="buttons-radio">
                        <a class="btn btn-nano asce" href="#"><i class="icon-chevron-up"></i></a>
                        <a class="btn btn-nano desc" href="#"><i class="icon-chevron-down"></i></a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody class="inmate-list"></tbody>
    </table>
</div>
