<% _.each(inmates, function(inmate, i) { %>
    <tr>
        <td><%= inmate.jail_id %></td>
        <td><%= inmate.booking_date.substr(0,10) %></td>
        <!--%= inmate.booking_date %-->
        <td><%= inmate.stay_length %></td>
        <td><%= inmate.age_at_booking %></td>
        <td><%= inmate.bail_amount %></td>
        <td><%= inmate.bail_status %></td>
        <td><%= inmate.charges %></td>
        <td><%= inmate.charges_citation %></td>
        <td><%= inmate.discharge_date_earliest %></td>
        <td><%= inmate.gender %></td>
        <td><%= inmate.housing_location %></td>
        <td><%= inmate.num_court_dates %></td>
        <% if (inmate.num_court_dates > 0) { %>
        <td><%= inmate.next_court_date %></td>
        <td><%= inmate.next_court_location %></td>
        <% } else { %><td></td><td></td><% } %>
    </tr>
<% }); %>
