<h3>Bookings Per Day</h3>

<style type="text/css">
  #BookingsPerDay {
    font: 10px sans-serif;
  }

  .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    display: inline;
  }

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  .dot {
    fill: white;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
</style>

<div id="BookingsPerDay"></div>
