<h3>Jail System Population Counts</h3>

<p>The Cook County Jail system is interesting as people within it can be in Jail, incarcerated, or they can be out on bail, or in a Drug treatment program, or in an electronic monitoring program, whatever their status they are all in the Jail System. At the current time, the data provided by the Cook County Sherrif's website does not allow us to find out for an individual excatly what their status is, so this metric only shows them as being in the system, i.e. tracked by the Cook County Sherrif's department.</p>

<style type="text/css">
  #JailSystemPopulation {
    font: 10px sans-serif;
  }

  #JailSystemPopulation .axis path, #JailSystemPopulation .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    display: inline;
  }

  #JailSystemPopulation .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  #JailSystemPopulation .dot {
    fill: white;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
</style>

<div id="JailSystemPopulation"></div>
